/* 
urls
https://www.behance.net/gallery/148346509/Healthcare-Patient-data-Dashboard?tracking_source=search_projects%7Chealthcare%20users%20dashboard%20webapp

https://www.behance.net/search/projects/?tracking_source=typeahead_search_direct&search=healthcare%20users%20dashboard%20webapp

https://www.behance.net/gallery/148346509/Healthcare-Patient-data-Dashboard?tracking_source=search_projects%7Chealthcare%20users%20dashboard%20webapp

https://www.behance.net/gallery/65588599/Medipanel-Healthcare-Management-System?tracking_source=search_projects%7Chealthcare%20users%20dashboard%20webapp

https://www.behance.net/gallery/65588599/Medipanel-Healthcare-Management-System?tracking_source=search_projects%7Chealthcare%20users%20dashboard%20webapp

https://www.behance.net/gallery/148488847/Crypto-Dashboard-UIUX-Design?tracking_source=search_projects%7Chealthcare%20users%20dashboard%20webapp



*/